<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://cdn.pixabay.com/photo/2020/04/20/18/10/cinema-5069314_1280.jpg);">
  <div class="container">
    <h1>Save <strong>any</strong> kind of <strong>movies</strong>!</h1>
    <p>Your personal movie lists</p>
  </div>
</div>
