<% @lists.each do |list| %>
  <div class="card-trip">
    <%= cl_image_tag("jpaeoysq4iowro6givg5",
      width: 400, height: 300, crop: :fill) %>
    <div class="card-trip-infos">
      <div>
          <p><%= link_to list.name, list_path(list) %></p>
      </div>
      <h2 class="card-trip-pricing">Rating</h2>
    </div>
  </div>
<% end %>
