<% @lists.each do |list| %>
  <div class="card-trip">
    <%= image_tag("https://res.cloudinary.com/dluwn5klr/image/upload/v1636715796/jpaeoysq4iowro6givg5.jpg",
      width: 400, height: 300, crop: :fill) %>
    <div class="card-trip-infos">
      <div>
          <p><%= link_to list.name, list_path(list) %></p>
      </div>
      <h2 class="card-trip-pricing">Rating</h2>
    </div>
  </div>
<% end %>
